{
    "presets": [
        [
            "env",
        {
            "targets": {
                "esmodules": true
            },
            "modules": false
        }
        ],
        "react"
    ],
    "plugins": ["transform-object-rest-spread", "babel-plugin-syntax-dynamic-import"]
}
