#app {
	margin: 50px;
}

.tabs li a.is-active {
	color: #3273dc;
	background-color: white;
	border-color: #dbdbdb;
	border-bottom-color: transparent !important;
}

input[type="radio"] {
	margin-right: 5px;
}

.radio + .radio {
	margin-left: 1em;
}