#app {
	margin: 50px;
}

.tabs li a.is-active {
	color: #3273dc;
	background-color: white;
	border-color: #dbdbdb;
	border-bottom-color: transparent !important;
}

input[type="radio"] {
	margin-right: 5px;
}

.radio + .radio {
	margin-left: 1em;
}

tr.inactive {
	opacity: 0.3;
}

.js-plotly-plot {
	width: 100%;
}

.league {
	cursor: pointer;
	margin: 15px;
}

.league span {
	padding: 5px;
	border: 1px solid;
}

.league.active span {
	background-color: lightgreen;
}

.league:hover span {
	background-color: lightblue;
}
.leagues-widget {
	float: right;
}
.leagues-widget span {
	margin-right: 8px;
}
.hidden {
	display: none;
}
.auth-widget {
	float: right;
	margin-right: 40px;
}